body {
  background: linear-gradient(
    89.8deg,
    rgb(204, 156, 223) 0.3%,
    rgb(155, 219, 245) 20.4%,
    rgb(245, 183, 208) 40.2%,
    rgb(250, 186, 98) 62.9%,
    rgb(234, 238, 240) 81.9%,
    rgb(250, 245, 171) 99.2%
  );
}

h1 {
  width: 100%;

  display: block;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;

  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
  color: #4e6a94;
}
h2 {
  padding: 25px;
  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
}
p3 {
  text-align: center;
  display: block;
  font-size: 22px;
}
#city {
  padding: 0 auto;
  font-size: 40px;
}
#submiting {
  padding: 0 20px;
}

.shape {
  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
  border: 2px solid #000000;
  border-radius: 20px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#temp {
  font-size: 30px;
  font-weight: bold;
}

#time {
  text-decoration: underline;
  font-size: 18px;
}
#temperature {
  font-size: 50px;
}

#units {
  font-size: 25px;
}
#humidity {
  display: inline;
  font-weight: bold;
}
#wind {
  display: inline;
  font-weight: bold;
}

#description {
  display: block;
  font-weight: bold;
  font-size: 20px;
}
#date {
  font-size: 20px;
}
.source-link {
  line-height: 40px;
  margin-bottom: 0 auto;
}
